$grey: #d5caca;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .slider {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    //@media only screen and (max-width: 375px) {
    //  height: 400px;
    //  width: 300px;
    //}

    .image {
      position: absolute;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      will-change: transform, opacity;

      &:hover {
        cursor: grab;
      }

      &:active {
        cursor: grabbing;
      }
    }
  }

  .buttons {
    margin-top: 12px;

    button {
      outline: none;
      border: none;
      user-select: none;
      padding: 10px 12px;
      transform: skewY(-5deg) rotate(5deg);
      background-color: $grey;
      font-family: inherit;
      font-size: inherit;
      color: white;
      transition: .07s ease-out transform;

      &:first-of-type {
        margin-right: 15px;
      }

      &:hover {
        cursor: pointer;
      }

      &:active {
        transform: scale(.85) skewY(-5deg) rotate(5deg);
      }
    }
  }
}

.thumbnails {
  position: absolute;
  right: 1vw;
  top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  z-index: 500;

  .thumbnail-container {
    position: relative;
    height: 10vh;
    width: 10vh;

    @media only screen and (max-width: 400px) {
      height: 70px;
      width: 50px;
    }

    &:hover {
      cursor: pointer;
    }

    &:not(:last-of-type) {
      margin-right: 5px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    .active-indicator {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      pointer-events: none;
      transform: scaleX(0);
      transform-origin: left;
      background-color: $grey;
      opacity: 0.50;
      transition: 1s cubic-bezier(0.56, 0.03, 0.12, 1.04) transform;

      &.active {
        transform: scaleX(1);
      }
    }
  }
}