:root {
    --magnetic-size: 3rem;
}

body {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: rgb(15, 20, 30);
    flex-direction: column;
    height: 100vh;
    margin: 0;
    color: white;
    /*font-family: Roboto;*/
}

#magnetic-wrap {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.my-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 32px;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    /*background: #ffb31a;*/
    transform-origin: 50% 50%;
}

.magnetic-size {
    position: absolute;
    bottom: calc(-1 * var(--magnetic-size));
    top: calc(-1 * var(--magnetic-size));
    left: calc(-1 * var(--magnetic-size));
    right: calc(-1 * var(--magnetic-size));
    z-index: 1;
    border-radius: 50%;
    border: 2px dashed #ffffff;
}

.safe-wrap {
    margin: var(--magnetic-size);
}
